@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary-red: #8b0000; /* Dark Red */
  --accent-red: #ff0000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar Merah */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 10px;
}